.list-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 12px 0px;
  border-bottom: 0.3rem solid #212121;
}

.description-title {
  flex-grow: 1;
  font-size: 18px;
  color: #BB86FC;
}

.status-title {
  flex-grow: 0;
  display: flex;
  justify-content: center;
  min-width: 10rem;
  font-size: 18px;
  color: #BB86FC;
}

.actions-title {
  flex-grow: 0;
  display: flex;
  justify-content: center;
  min-width: 10rem;
  font-size: 18px;
  color: #BB86FC;
}

.description-list {
  flex-grow: 1;
  word-break: break-word;
}

.status-list {
  flex-grow: 0;
  display: flex;
  justify-content: center;
  min-width: 10rem;
}

.actions-list {
  flex-grow: 0;
  display: flex;
  justify-content: center;
  min-width: 10rem;
}

.status-circle {
  border-radius: 50%;
  min-width: 1rem;
  min-height: 1rem;
  margin: 0rem 0.7rem;
}
