.btn {
  margin-right: 5px;
}

.marked-done {
  text-decoration: line-through;
  color: #777;
}

.table-actions {
  width: 105px
}

.task-form {
  padding-bottom: 40px;
}

.row-marked-done {
  background-color: #ecffe2;
}
